body {
    background-color: $primary-color;
}

div {
    padding: 2rem;
    text-align: center;
}

span {
    margin: 0.1rem;
    padding: 0.5rem;
    font-size: 2rem;
    display: inline-block;
    width: 40px;
    border: solid black 0.5px;

}