/* Buttons */

.btn {
  display: inline-block;
  width: 150px;
  margin: 1rem;
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  background-color: $game-primary;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}

.btn-grow:hover {
  scale: 1.1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.btn-reduce:hover {
  scale: 0.9;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.btn-reduce:hover ~ #double-btn {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.input {
  width: 150px;
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
}
